<section class="account">
  <div class="container">
    <div class="form-success text-center hide" data-reset-success>
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div class="account--inner-container" data-login-form>
      {% form 'customer_login' %}
        <h1 class="account--title">{{ 'customer.login.title' | t }}</h1>

        {{ form.errors | default_errors }}
        <div class="account--input-container">
          <label for="CustomerEmail" class="label-hidden">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email"
                 name="customer[email]"
                 id="CustomerEmail"
                 class="{% if form.errors contains 'email' %}input-error{% endif %}"
                 placeholder="{{ 'customer.login.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 autofocus>
        </div>

        {% if form.password_needed %}
          <div class="account--input-container">
            <label for="CustomerPassword" class="label-hidden">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %}input-error{% endif %}"  placeholder="{{ 'customer.login.password' | t }}">
          </div>
        {% endif %}

        <div class="account--link-container d-flex justify-content-between">

          <div class="">
            {% if form.password_needed %}
              <a href="#recover" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
            {% endif %}
          </div>

          <div class="">
            <a href="/account/register">
              {{ 'layout.customer.create_account' | t }}
            </a>
          </div>
        </div>

        <div class="account--btn-container">
          <button class="button-circle" type="submit" name="button">
            {{ 'customer.login.sign_in' | t }}
          </button>
          <div class="text-center hide">
            <a href="/">{{ 'customer.login.cancel' | t }}</a>
          </div>
        </div>



      {% endform %}

    </div>

    <div class="account--inner-container hide" data-recover-form>
      <h2 class="account--title">{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <span class="hide" data-form-state></span>
        {% endif %}

        <div class="account--input-container">
          <label for="RecoverEmail" class="label-hidden">
            {{ 'customer.recover_password.email' | t }}
          </label>
          <input type="email"
                 name="email"
                 id="RecoverEmail"
                 placeholder="{{ 'customer.recover_password.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off">
        </div>

        <div class="account--btn-container d-flex flex-column">
          <div class="">
            <button class="button-circle" type="submit" name="button">
              {{ 'customer.recover_password.submit' | t }}
            </button>
          </div>
          <div class="">
            <button class="button-circle" type="button" data-recover-toggle>
              {{ 'customer.recover_password.cancel' | t }}
            </button>
          </div>
        </div>



      {% endform %}

    </div>

    {% if shop.checkout.guest_login %}
      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}

  </div>
</section>
