<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">


  <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/TJzxVP36Ehkky8JLnU9knMOsSKgV4y2Sxu4U2pSw/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <!-- Only include one of the below in your theme. -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.1.0/cart.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.1.0/rivets-cart.min.js"></script>

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'jquery.selectric.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'jquery.selectric.min.js' | asset_url }}"></script><![endif]-->

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% include 'script-tags', layout: 'theme' %}
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


  {{ 'grouploop.min.js' | asset_url | script_tag }}

  {{ content_for_header }}
  {% render 'hulkapps-wishlist-js' %}
  <link href='//hulkapps-wishlist.nyc3.digitaloceanspaces.com/assets/hulkapps-wishlist-styles.css' rel='stylesheet'>
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <!-- Initialise Cart.js once the page has loaded -->
  <script type="text/javascript">
      jQuery(function() {
          CartJS.init({{ cart | json }});
      });
  </script>
  {% render 'hulkappsWishlistPopup' %} {% if template != null %}<script type='text/javascript' src='//hulkapps-wishlist.nyc3.digitaloceanspaces.com/assets/hulkapps-wishlist-global.js'></script>{% endif %} <div data-wishlist-wrapper style='display:none' data-time='2021-07-22'></div>

</body>
</html>
